<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Продажа_программного_обеспечения.Properties.Settings.Selling_softwareConnectionString"
            connectionString="Data Source=K20-12\SQLEXPRESS;Initial Catalog=Selling_software;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>